@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>Kouhyar Tavakolian</p>
<p>Biomedical Engineering Research Complex (BERC),</p>
<p>Upson Hall II,Room 160,243 Centennial Drive,</p>
<p>Stop 7165, Grand Forks, ND, USA 58202</p>
<p>office: 701-777-4446 email: kouhyar@und.edu</p>