@{
    ViewBag.Title = "Home Page";
}


<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC8KloedMvZLdSqUMk74oE7IM0SF9bJCrw",
    authDomain: "idermatoscope.firebaseapp.com",
    databaseURL: "https://idermatoscope.firebaseio.com",
    projectId: "idermatoscope",
    storageBucket: "idermatoscope.appspot.com",
    messagingSenderId: "960111575797"
  };
  firebase.initializeApp(config);

    var storage = firebase.storage();
    var storageRef = storage.ref();
    var img1 = storageRef.child('melanomaapptest@gmail.com/JPEG Images/JPEG_Left Arm_2018_04_16_23_54_13_792.jpg');
    var img2 = storageRef.child('melanomaapptest@gmail.com/JPEG Images/JPEG_Left Hand_2018_04_16_23_53_08_766.jpg');
    var img3 = storageRef.child('melanomaapptest@gmail.com/JPEG Images/JPEG_Left Hand_2018_04_16_23_54_50_587.jpg');


    function changeimg(){

        img1.getDownloadURL().then(function (url) {

            var img = document.getElementById('myimg');
            img.src = url;

        }).catch(function (error) {
            console.error(error);
        });

    }

    function changeimg2() {

        img2.getDownloadURL().then(function (url) {

            var img = document.getElementById('myimg');
            img.src = url;

        }).catch(function (error) {
            console.error(error);
        });

    }

    function changeimg3() {

        img3.getDownloadURL().then(function (url) {

            var img = document.getElementById('myimg');
            img.src = url;

        }).catch(function (error) {
            console.error(error);
        });

    }



    //$(document).ready(function () {
    //    $('#Button1').click(function () {
    //        var button1 = document.getElementById("Button1");
    //        button1.onclick = function () {
    //            var img = document.getElementById('myimg');
    //            img.src = "~/Images/" + button1.textContent;
    //        }
    //    });
    //    $('#Button2').click(function () {
    //        var button2 = document.getElementById("Button2");
    //        button2.onclick = function () {
    //            var img = document.getElementById('myimg');
    //            img.src = "~/Images/" + button2.value;
    //        }
    //    });
    //    $('#Button3').click(function () {
    //        var button3 = document.getElementById("Button3");
    //        //button3.onclick = function(){
    //        var img = document.getElementById('myimg');
    //        img.src = "~/Images/" + button3.value;
    //        //}
    //    });
    //});
</script>
@*<script type="text/javascript">
    //// Get a reference to the storage service, which is used to create references in your storage bucket
    //var storage = firebase.storage();

    //// Create a storage reference from our storage service
    //var storageRef = storage.ref();

    // Create a root reference
    var storageRef = firebase.storage().ref();

    // Create a reference to 'mountains.jpg'
    var mountainsRef = storageRef.child('mountains.jpg');

    // Child references can also take paths delimited by '/'
    var imgRef = storageRef.child('Raw Images/josiahTestImg.jpg');
    // spaceRef now points to "images/space.jpg"
    // imagesRef still points to "images"

    var file = ... // use the Blob or File API
ref.put(file).then(function(snapshot) {
  console.log('Uploaded a blob or file!');
    });

    // Or inserted into an <img> element:
    var img = document.getElementById('myimg');
    img.src = url;
</script>*@

<div id="coverbackgroundimg"></div>

<div class="row" id="headerRow">
    <h4>Welcome to your user homepage!</h4>
    <p>Select an image below to view.</p>

    <table style="width:100%;">
        <tr>
            <td><input id="Button1" type="button" value="Left Arm_2018_04_16" onclick="changeimg()" class="link"/></td>
        </tr>
        <tr>
            <td><input id="Button2" type="button" value="Left Hand_2018_04_16" onclick="changeimg2()" class="link"/></td>
        </tr>
        <tr>
            <td><input id="Button3" type="button" value="Left Hand_2018_04_16" onclick="changeimg3()" class="link"/></td>
        </tr>
    </table>

</div>

<div class="row" id="imgRow">
@*    <iframe id="myimg" src=""></iframe>*@
    <img alt="" id="myimg" />
</div>

